html, body{
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
/* about us */

.about-us-content {
  padding: 20px 0;
  text-align: left;
}

.about-carousel {
  width: 600px;
  float: right;
  margin: 13% 0 0 3%;
  margin-bottom: 5px;
}

.about-carousel-fluid {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}



.car-img {
  height: 100%;
  width: 100%;
}
@media (max-width: 992px) {
  .container-car {
    width: 100%;
    padding: 0;
    margin: 0;
  }

}

.about-header {
  padding: 20px 20px 10px 0;
}
