html, body{
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}


.form-container ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #999;
}

.form-container :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #999;
   opacity:  1;
}

.form-container ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #999;
   opacity:  1;
}

.form-container :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #999;
}

.form-container :placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:  #999;
}

.row {
	text-align:center;
}

.form-container{

    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);

}

.form-container .req-input .input-status {
    display: inline-block;
    height: 40px;
    width: 40px;
    float: left;
}
.form-container .input-status::before{
	content: " ";
	height:20px;
	width:20px;
	position:absolute;
	top:10px;
	left:10px;
	color:white;
	border-radius:50%;
	background:white;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;

}

.form-container .input-status::after{
	content: " ";
	height:10px;
	width:10px;
	position:absolute;
	top:15px;
	left:15px;
	color:white;
	border-radius:50%;
	background:#007cfa;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.form-container .req-input{
	width:100%;
    float:left;
	position:relative;
	background:#007cfa;
	height:40px;
	display:inline-block;

	margin:5px 0px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.form-container div .row .invalid:hover{
	background:#EF9A9A;
}

.form-container div .row .invalid{
	background:#E57373;
}

.form-container .invalid .input-status:before {
	width:20px;
	height:4px;
	top:19px;
	left:10px;
	background:white;/*#F44336;*/

	 -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.form-container .invalid .input-status:after {
	width:20px;
	height:4px;
	background:white;

	top:19px;
	left:10px;
	 -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}

.form-container div .row  .valid:hover{
	background:#A5D6A7;
}

.form-container div .row .valid {
	background:#81C784;

}

.form-container .valid .input-status:after {

    width: 17px;
    height: 4px;
    background: white;
    top: 16px;
    left: 15px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.form-container .valid .input-status:before {

    width: 11px;
    height: 4px;
	background:white;
    top: 19px;
    left: 10px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.form-container .input-container{
	padding:0px 20px;
}

 .form-container .row-input{
	padding:0px 5px;
}


.form-container {
	margin:20px;
	padding:20px;

	background:#a2bee5;
	color:#007cfa;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.form-container .form-title{
	font-size:25px;
	color:inherit;
	text-align:center;
	margin-bottom:10px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.form-container .submit-row{
	padding:0px 0px;
}

.form-container .btn.submit-form{
	margin-top:15px;
	padding:12px;
	background:#007cfa;
	color:white;

	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.form-container .btn.submit-form:focus{
	outline:0px;
	color:white;
}

.form-container .btn.submit-form:hover{
	background:#009cfa;
	color:white;
}

.form-container .tooltip.top .tooltip-arrow {
	border-top-color:#007cfa !important;
}

.form-container .tooltip.top.tooltip-invalid .tooltip-arrow {
	border-top-color:#E57373 !important;
}

.form-container .tooltip.top.tooltip-invalid .tooltip-inner::before{
	background:#E57373;
}
.form-container .tooltip.top.tooltip-invalid .tooltip-inner{
	background:#FFEBEE !important;
	color:#E57373;
}

.form-container .tooltip.top.tooltip-valid .tooltip-arrow {
	border-top-color:#81C784 !important;
}

.form-container .tooltip.top.tooltip-valid .tooltip-inner::before{
	background:#81C784;
}
.form-container .tooltip.top.tooltip-valid .tooltip-inner{
	background:#E8F5E9 !important;
	color:#81C784;
}

.form-container .tooltip.top .tooltip-inner::before{
	content:" ";
	width:100%;
	height:6px;
	background:#007cfa;
	position:absolute;
	bottom:5px;
	right:0px;
}
.form-container .tooltip.top .tooltip-inner{
	border:0px solid #007cfa;
	background:#E0F7FA !important;
	color:#007cfa;
	font-weight:bold;
	font-size:13px;
	padding:10px 15px;
}
.form-container .tooltip {
	max-width:150px;
	opacity:1 !important;
}

.form-container .message-box{
	width:100%;
	height:auto;
}

.form-container textarea:focus,.form-container textarea:hover{
	background:#fff;
	outline:none;
	border:0px;
}

.form-container .req-input textarea {
	max-width:calc(100% - 50px);
    width: 100%;
    height: 80px;
    border: 0px;
    color: #777;
    padding: 10px 9px 0px 9px;
	float:left;

}
.form-container input[type=text]:focus, .form-container input[type=password]:focus, .form-container input[type=email]:focus, .form-container input[type=tel]:focus, .form-container select{
    background:#fff;
	color:#777;
	border-left:0px;
	outline:none;
}

.form-container input[type=text]:hover,.form-container input[type=password]:hover,.form-container input[type=email]:hover,.form-container input[type=tel]:hover, . form-container select{
	background:#fff;
}

.form-container input[type=text], .form-container input[type=email],input[type=tel], form-container select{
	width:calc(100% - 50px);
	float:left;

	border:0px solid #ddd;
	padding:0px 9px;
	height:40px;
	line-height:40px;
	color:#777;
	background:#fff;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
