/* colors */
/* dark text color */
/* #25497c  */
/* secondary */
/* #4d81ca; */
/* supporting color 4 */
/* #6695D6 */
/* supporting color 1 */
/* #7aa3db */
/* supporting color 2 */
/* #a2bee5 */
/* supporting color 3 */
/* #d1ddeb */
/* primary */
/* #fff */


.card{
  border: none;
}

/* call to acion */
#cta{

}

#cta, .cta-col{
  text-align: center;
}


.cta-button {
  font-size: 1.5rem;

}

.cta-col {
  margin: 3rem 0;
}



.cta-h3 {
  font-weight: 600;
}

.learn-more{
  margin-top: 5%;
  padding: 5px 20px;
  font-size: 1.5rem;
}

/* our mission *******************/
#our-mission {
  padding:7%;
  text-align: center;
}

#our-mission i {
  padding: 0 1.5rem 1.5rem 1.5rem;
  margin-top: 0;
}

#our-mission i:hover {

}

.mission-col {
  margin: 1.5rem 0;
}

.mission-h1 {
  margin-bottom: 5%;
}


.mission-h3 {
  letter-spacing: 2px;
  line-height: 1.5;
  font-size: 1.5rem;

}

.mission-p {
  font-size: 0.9rem;
}


/* parallax *******************************/


.parallax-1, .parallax-2, .parallax-3, .parallax-4{
  /* Set a specific height */


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-1{
  position: relative;
  min-height: 600px;
  /* The image used */
  background-image: url("../images/Taras+Pics+451.jpg");
}

.parallax-2{
  min-height: 500px;
  /* The image used */
  background-image: url("../images/little+girl+crown.jpg");
}

.parallax-3{
  min-height: 500px;
  /* The image used */
  background-image: url("../images/IMG_1826.jpg");
}

.parallax-4{
  min-height: 400px;
  /* The image used */
  background-image: url("../images/img-2.png");
}

.layer {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.parallax-caption{
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
  max-width: 900px;
}


/* who we are************************************************ */
#wwe {
  text-align: center;
  padding: 7% 0;
}

.wwe-h1 {
  padding-bottom: 5%;
}

.wwe-img {
  margin: 10px 50px 35px 0;
  width: 375px;
  height: 325px;
  border-radius: 50%;
}

.wwe-p {

}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #wwe{
      padding: 7% 10%;
    }

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card{
    padding: 2%;
  }
}


/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  body{
    font-size: 0.9rem;
  }
}

/* // Small devices (landscape phones, less than 768px) */


@media (min-width: 1800px){
  .parallax-1, .parallax-2, .parallax-3, .parallax-4{
    min-height: 800px;
  }
}

@media only screen and (max-device-width: 1366px) {
  .parallax-1, .parallax-2, .parallax-3, .parallax-4{
    background-attachment: scroll;
    height: auto;
  }
}
