/* project */
 html, body{
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
 /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you!  */
}

.nav-item .active{
  font-weight:bold;
}
.peru-img {
  height: inherit;
  float: right;
  margin: 0 0 0 3%;
}

.marco-img {
  width: 50%;
  max-height: 500px;
  object-fit: cover;
  height: inherit;
  float: right;
  margin: 0 0 0 3%;
}
.josef-img {
  width: 35%;
  max-height: 500px;
  object-fit: fill;
  height: inherit;
  float: right;
  margin: 0 0 0 3%;
}
.ecuador-img {
  width: 25%;
  object-fit: cover;
  height: inherit;
  float: right;
  margin: 0 0 0 3%;
}

.vietnam-img {
  width: 55%;
  object-fit: cover;
  height: inherit;
  float: right;
  margin: 0 0 0 3%;
}



.story-header{
  padding: 20px 20px 0 0;
}

.project-tabs {
  margin: 2%;
}

#project-header {
  height: 122px;
}

.project-content {
  padding: 20px 0 0 0;
  text-align: left;
}


.tab-content {
  background-color: white;
}

.tab-styles {
  font-size: 0.8rem;
}

@media (max-width: 992px) {
.peru-img  /*  .marco-img */{
    display: none !important;
  }

  .mycontainer{
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .peru-img-2 {
    display: block !important;
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
