/* colors */
/* dark text color */
/* #25497c  */
/* secondary */
/* #4d81ca; */
/* supporting color 1 */
/* #7aa3db */
/* supporting color 2 */
/* #a2bee5 */
/* supporting color 3 */
/* #d1ddeb */
/* primary */
/* #fafafa */
html {
  min-height: 100%;
}

body {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  color: #4d81ca;
  background-color: #fafafa;
  font-size: 1.4rem;
}

.navbar-brand, h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

.img-size-1 {
  margin: -13.15% 0;
  /*28.3*/
}

.img-size-2 {
  margin-bottom: -33%;
  /*35*/
}

.img-size-3 {
  margin-top: -17%;
  margin-bottom: -17.6%;
  /*36.5*/
}

.img-size-4 {
  margin-top: -13%;
  margin-bottom: -19.8%;
  /*34.7*/
}

#cta {
  padding: 2% 10%;
  text-align: center;
  background-color: #d1ddeb;
  color: #4d81ca;
}

.cta-col {
  margin: 3rem 0;
  padding: 0 10px;
  text-align: center;
}

.cta-button {
  margin-bottom: 5%;
  font-size: 1.5rem;
}

.cta-p {
  padding: 2% 10%;
}

.cta-h3 {
  /* font-weight: 700; */
  padding-top: 10px;
  letter-spacing: 4px;
  line-height: 1.5;
  font-size: 3rem;
}

.big-header {
  font-size: 5rem;
  line-height: 1.5;
}

.mission-col {
  margin: 3rem 0;
  padding: 0 10px;
}

.mission-h1 {
  padding-bottom: 0;
}

.mission-h3 {
  margin-top: -20px;
  /* font-weight: 700; */
  letter-spacing: 2px;
  line-height: 1.5;
  font-size: 1.5rem;
}

.mission-p {
  padding: 0 3%;
}

.col-text {
  margin: 3rem 0;
  padding: 0 10px;
}

#wwe {
  padding: 7% 10%;
  background-color: #7aa3db;
  color:#fafafa;
}

.wwe-h1 {
  text-align: center;
  padding-bottom: 5%;
}

.wwe-img {
  margin: 10px 50px 35px 0;
  width: 375px;
  height: 325px;
  border-radius: 50%;
}

.wwe-p {
  padding-left: 5%;
  margin-left: -5%;
  vertical-align: middle;
}

@media (max-width: 900px) {
  #wwe img {
    display: none;
  }

  .nav-tabs {
    font-size: 1rem !important;
  }

  .big-header {
    font-size: 3rem;
    text-align: left;
    padding-top: 5%;
    border-bottom: 1px solid #c1d9ff;
  }

  .project-header {
    font-size: 4rem !important;
  }

  .wwe-h1 {
    padding-bottom: 0;
    margin-bottom: 30px;
  }

  /* mission */
  .mission-col {
    text-align: left;
    margin: 2rem 0;
    padding: 0 10px;
  }

  .mission-h3, .mission-p {
    padding-left: 0;
  }

  .mission-h3 {
    padding-top: 10px;
  }

  /* get involved + donate */
  .cta-col {
    text-align: left;
    margin: 2rem 0;
    padding: 0 10px;
  }

  .cta-p {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }

  .cta-h3 {
    padding-bottom: 0;
    font-size: 2rem;
    border-bottom: 1px solid #b8b8b8;
  }

  .cta-button {
    margin-top: -10px;
  }
}

.carousel-caption {
  text-shadow: 1px 1px 4px #676767;
}

.carousel-caption h1 {
  font-size: 3vw;
  /* font-weight: 700; */
}

.container-fluid {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}



.navbar {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 1rem;
  padding: 2% 10% ;
  background-color: #25497c;
  font-family: 'Montserrat';
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 3vw;
  font-weight: 400;
}

.navbar-brand:hover {
  color: #fafafa;
}

@media (min-width: 390px) and (max-width: 624px) {
  .navbar-brand {
    font-size: 1rem;
  }

  .navbar {
    font-size: 1rem;
  }
}

@media (max-width: 390px) {
  .navbar-brand {
    font-size: 0.7rem;
  }

  .nav-tabs {
    font-size: 0.5rem !important;
  }

  .navbar-brand img {
    height: 20px;
    width: 35px;
  }

  .big-header {
    font-size: 2rem;
    text-align: left;
    padding-top: 5%;
    border-bottom: 1px solid #b8b8b8;
  }

  body {
    font-size: 0.8rem;
  }

  .project-header {
    font-size: 3rem !important;
  }
}

nav {}

nav .nav-item {
  padding-left: 6px;
}

#our-mission {
  text-align: center;
  padding: 7% 10%;
  position: relative;
}

#our-mission i {
  padding: 1.5rem;
}

#footer {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 1%;
  background-color: #4d81ca;;
  color: #fafafa;
}

.footer-icons {
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1rem;
}
i:hover {
  color:#25497c;
}

.copyright-text {
  font-size: 11px;
}

/* about us */
.about-us-title {
  padding-top: 5%;
  font-size: 3rem;
  /* font-weight: bold; */
  border-bottom: 1px solid #b8b8b8;
}

.about-us-content {
  padding: 20px 0;
  text-align: left;
}

.about-carousel {
  width: 600px;
  float: right;
  margin: 13% 0 0 3%;
  margin-bottom: 5px;
}

.about-carousel-fluid {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.about-car-img {
  width: 100%;
  height: 100%;
  margin-top: -20px;
  margin-bottom: -80px;
}

.car-img {
  height: 100%;
  width: 100%;
}

@media (max-width: 992px) {
  .container-car {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  /* project */
  .peru-img {
    display: none !important;
  }
}

/* project */
.peru-img {
  max-height: 750px;
  float: right;
  margin: 20px 0 0 3%;
  margin-bottom: 5px;
}

.project-tabs {
  background-color: #333333;
  padding-top: 1%;
}

.tab-content {
  background-color: white;
}

.tab-styles {
  font-size: 0.8rem;
}

.img-box {
  height: 244px;
}

.img-fit {
  object-fit: cover;
  height: 122px;
  width: 100%;
  opacity: 0.5;
}

.img-col {
  padding: 0;
}

.tab-pane {
  /* background-color: #70AACE; */
}

#project-header {
  height: 122px;
}

.project-header {
  /* font-weight: 700; */
  font-family: "Orkney";
  /* letter-spacing: 4px; */
  font-size: 5rem;
  text-shadow: 1px 1px 4px #676767;
}

.centered {
  position: absolute;
  top: 61px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-content {
  padding: 20px 0;
  text-align: left;
}

.project-container {
  /* background-color: #fff; */
}
