/* colors */
/* dark text color */
/* #25497c  */
/* secondary */
/* #4d81ca; */
/* supporting color 1 */
/* #7aa3db */
/* supporting color 2 */
/* #a2bee5 */
/* supporting color 3 */
/* #d1ddeb */
/* primary */
/* #fff */
@font-face {
  font-family: polly;
  src: url(fonts/Polly-Regular.woff);
  src: url(fonts/Polly-Regular.woff2);
}

/* color classes */
.text-myprimary{
  color: #007cfa;
}

.text-mysecondary{
  color: #15BEF0;
}

.text-navy{
  color: #25497c;
}

html, body {
  height: 100%;
}

body {
  font-family: "Open Sans", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
}

.min-h-100{
  min-height: 100%;
}

.big-header {
  font-size: 4rem;
  font-weight: 600;
}
.large-header{
  font-size: 3rem;
  font-weight: 600;
}

.medium-header{
  font-size: 2.25rem;
  font-weight: 600;
  padding-top:10px;
}

.small-header{
  font-size: 1.6rem;
  font-weight: 600;
  padding-top:10px;
}

.m-top{
  margin-top: 3%;
}

.smaller-letters{
  font-size: 3.5rem;
}
.mycontainer{
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  padding:0 15px;
  background-color: white;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-fluid {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.navbar-brand,.navbar, h1, h2, h3, h4, h5, h6 {
  font-family: polly;
}

 h1, h2, h3, h4, h5, h6 {
   font-weight: 600;
 }

@media (max-width: 430px){
  .navbar-brand img{
    width: 200px;
  }
}
@media(max-width: 768px){

  body{
    font-size: 1rem;
  }

}

.col-text {
  margin: 3rem 0;
  padding: 0 10px;
}



@media (max-width: 900px) {
  .big-header {
    font-size: 3rem;
  }
  .smaller-letters{
    font-size: 2.7rem;
  }

  .large-header{
    font-size: 2.25rem;
  }

  .medium-header{
    font-size: 1.75;
  }
}

.carousel-caption {
  text-shadow: 1px 1px 4px #676767;
}

.carousel-caption h1 {
  font-size: 3vw;
  /* font-weight: 700; */
}





.navbar {
  border-radius: 0;
  font-size: 1rem;
  font-family: 'Montserrat';
  position: sticky;
}

@media (min-width: 390px) and (max-width: 624px) {

  .navbar {
    font-size: 1rem;
  }
}

@media (max-width: 390px) {

  .big-header {
    font-size: 2rem;
  }
  .smaller-letters{
    font-size: 1.8rem;
  }

  .project-header {
    font-size: 3rem !important;
  }
}

nav .nav-item {
  padding-left: 6px;
}

.nav-link{
}


#footer {
  text-align: center;
  padding-bottom: 1%;
  color: #fafafa;
  bottom: 0;
}

.footer-icons {
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1rem;
  padding-top: 2%;
}

.footer-icons:hover{
  color: #007cfa;
}


.copyright-text {
  font-size: 11px;
}





.img-box {
  height: 244px;
}

.img-fit {
  object-fit: cover;
  height: 122px;
  width: 100%;
  opacity: 0.5;
}

.img-col {
  padding: 0;
}
